#custom-navbar {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    margin: 0;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-brand {
    color: teal;
}

.nav-item {
    color: black;
    transition: 0.5s;
    align-items: center;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-item:hover {
    color: teal;
}
