<nav id="custom-navbar" class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Hotel Management App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item" routerLink="#" *ngIf="this.username && this.role">{{this.username}}</a>
        <a class="nav-item" routerLink="#" *ngIf="this.role == 'Owner' || this.role == 'Manager'">Hotel Management</a>
        <a class="nav-item" routerLink="#" *ngIf="this.role == 'Owner' || this.role == 'Manager'">User Management</a>
        <a class="nav-item" routerLink="#" *ngIf="this.role == 'Client'">Bookings</a>
        <a class="nav-item" routerLink="login" *ngIf="!this.username && !this.role">Login</a>
        <a class="nav-item" routerLink="login" (click)="logout()" *ngIf="this.username && this.role">Logout</a>
      </div>
    </div>
</nav>

<hr class="mx-5">