<a class="back-button" routerLink="/auth/login">Back</a>

<app-page-header title="Client Registration"></app-page-header>

<mat-stepper #stepper>
  <mat-step [stepControl]="userDetailsFormGroup" label="Fill in your details">
    <form [formGroup]="userDetailsFormGroup">
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input
          matInput
          formControlName="firstName"
          placeholder="Insert your first name"
          maxlength="100"
          minlength="2"
          required
        />
        <mat-error>{{ getFirstNameErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input
          matInput
          formControlName="lastName"
          placeholder="Insert your last name"
          maxlength="100"
          minlength="2"
          required
        />
        <mat-error>{{ getLastNameErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="Insert your email"
          required
        />
        <mat-error>{{ getEmailErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Birth date</mat-label>
        <input
          matInput
          formControlName="birthDate"
          placeholder="Select your birth date"
          required
          [matDatepicker]="picker"
        />
        <mat-error>{{ getBirthDateErrorMessage() }}</mat-error>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select matInput formControlName="gender" required>
          <mat-option value="0">Male</mat-option>
          <mat-option value="1">Female</mat-option>
          <mat-option value="2">Other</mat-option>
        </mat-select>
        <mat-error>{{ getGenderErrorMessage() }}</mat-error>
      </mat-form-field>

      <button mat-button color="primary" matStepperNext>Next</button>
    </form>
  </mat-step>

  <mat-step
    [stepControl]="userCredentialsFormGroup"
    label="Fill in your credentials"
  >
    <form [formGroup]="userCredentialsFormGroup">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          placeholder="Insert your username"
          maxlength="30"
          minlength="4"
          required
        />
        <mat-error>{{ getUsernameErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Insert your password"
          maxlength="30"
          minlength="8"
          required
        />
        <mat-error>{{ getPasswordErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mb-4">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          type="password"
          placeholder="Confirm your password"
          maxlength="30"
          minlength="8"
          required
        />
        <mat-error>{{ getConfirmPasswordErrorMessage() }}</mat-error>
      </mat-form-field>
    </form>

    <button mat-button color="primary" matStepperPrevious>Back</button>
    <button mat-button color="primary" matStepperNext>Next</button>
  </mat-step>

  <mat-step label="Additional information">
    <form [formGroup]="userAdditionalInfoFormGroup">
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="address"
          placeholder="Insert your address"
        />
        <mat-error>{{ getAddressErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Bio</mat-label>
        <textarea
          matInput
          formControlName="bio"
          placeholder="Insert your bio"
        ></textarea>
        <mat-error>{{ getBioErrorMessage() }}</mat-error>
      </mat-form-field>

      <!-- To implement using bezkoder tutorial -->
      <mat-form-field appearance="outline">
        <mat-label>Profile picture</mat-label>
        <input
          matInput
          formControlName="profilePicture"
          placeholder="Insert your profile picture"
        />
        <mat-error>{{ getProfilePictureErrorMessage() }}</mat-error>
      </mat-form-field>
    </form>

    <button mat-button color="primary" matStepperPrevious>Back</button>
    <button
      mat-button
      color="primary"
      matStepperNext
      (click)="createAccount()"
      [disabled]="
        userDetailsFormGroup.invalid ||
        userCredentialsFormGroup.invalid ||
        userAdditionalInfoFormGroup.invalid
      "
    >
      Register
    </button>
  </mat-step>
</mat-stepper>
