<a class="text-muted back-button" routerLink="/user-management">Back</a>

<app-page-header title="Employee Registration"></app-page-header>

<form [formGroup]="userFormGroup" (ngSubmit)="createUser()" id="user-form">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input
      matInput
      formControlName="username"
      placeholder="Insert your username"
      maxlength="30"
      minlength="4"
      required
    />
    <mat-error>{{ getUsernameErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      type="password"
      placeholder="Insert your password"
      maxlength="30"
      minlength="8"
      required
    />
    <mat-error>{{ getPasswordErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="mb-4">
    <mat-label>Confirm password</mat-label>
    <input
      matInput
      formControlName="confirmPassword"
      type="password"
      placeholder="Confirm your password"
      maxlength="30"
      minlength="8"
      required
    />
    <mat-error>{{ getConfirmPasswordErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>First name</mat-label>
    <input
      matInput
      formControlName="firstName"
      placeholder="Insert your first name"
      maxlength="100"
      minlength="2"
      required
    />
    <mat-error>{{ getFirstNameErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last name</mat-label>
    <input
      matInput
      formControlName="lastName"
      placeholder="Insert your last name"
      maxlength="100"
      minlength="2"
      required
    />
    <mat-error>{{ getLastNameErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="Insert your email"
      required
    />
    <mat-error>{{ getEmailErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Birth date</mat-label>
    <input
      matInput
      formControlName="birthDate"
      placeholder="Select your birth date"
      required
      [matDatepicker]="picker"
    />
    <mat-error>{{ getBirthDateErrorMessage() }}</mat-error>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Gender</mat-label>
    <mat-select matInput formControlName="gender" required>
      <mat-option value="0">Male</mat-option>
      <mat-option value="1">Female</mat-option>
      <mat-option value="2">Other</mat-option>
    </mat-select>
    <mat-error>{{ getGenderErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Role</mat-label>
    <mat-select matInput formControlName="role" required>
      <mat-option value="2">Employee</mat-option>
      <mat-option value="3">Manager</mat-option>
    </mat-select>
    <mat-error>{{ getRoleErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Hotel</mat-label>
    <input
      type="text"
      placeholder="Search by hotel"
      aria-label="Search by hotel"
      matInput
      [formControl]="hotelControl"
      [matAutocomplete]="auto"
      [(ngModel)]="selectedHotelName"
    />
    <mat-icon matSuffix (click)="onClearInput()">cancel</mat-icon>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="optionSelected($event)"
    >
      <mat-option *ngFor="let option of options" [value]="option.id">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
    <mat-error>{{ getHotelErrorMessage() }}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Add</button>
</form>
