:host {
  margin-top: 2vh;
}

mat-form-field {
  min-width: 100%;
  margin-bottom: 1vh;
}

textarea {
  min-height: 125px;
}

form {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

button {
  width: 100%;
}
