#user-container {
  margin-top: 2vh;
  margin-bottom: 10vh;
}

.example-form {
  margin-top: 10vh;
  margin-bottom: 2vh;
  display: grid;
  justify-content: center;
}

th,
td {
  text-align: center;
}
