<ng-container *ngIf="!dataLoaded; else usermanagement">
  <mat-progress-spinner class="loading-spinner" mode="indeterminate" value="4">
  </mat-progress-spinner>
</ng-container>

<ng-template #usermanagement class="pb-3">
  <div id="user-container">
    <a class="back-button" routerLink="/home">Back</a>

    <app-page-header title="User Management"></app-page-header>

    <form class="example-form">
      <mat-form-field>
        <mat-label>Search by hotel</mat-label>
        <input
          type="text"
          placeholder="Search by hotel"
          aria-label="Search by hotel"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          [(ngModel)]="selectedHotelName"
        />
        <mat-icon matSuffix (click)="onClearInput()">cancel</mat-icon>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="optionSelected($event)"
        >
          <mat-option value="All hotels">All hotels</mat-option>
          <mat-option *ngFor="let option of options" [value]="option.id">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef (click)="onSort('FirstName')">
            FIRST NAME
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.firstName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef (click)="onSort('LastName')">
            LAST NAME
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.lastName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef (click)="onSort('Role')">
            ROLE
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.role }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef (click)="onSort('Email')">
            EMAIL
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.email }}
          </td>
        </ng-container>

        <ng-container matColumnDef="birthDate">
          <th mat-header-cell *matHeaderCellDef (click)="onSort('BirthDate')">
            BIRTH DATE
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.birthDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="registrationDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            (click)="onSort('RegistrationDate')"
          >
            REGISTRATION DATE
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.registrationDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>EDIT</th>
          <td mat-cell *matCellDef="let element">
            <svg
              class="edit-icon"
              width="20px"
              height="20px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              (click)="onEditRole(element.id)"
              type="button"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M14.3601 4.07866L15.2869 3.15178C16.8226 1.61607 19.3125 1.61607 20.8482 3.15178C22.3839 4.68748 22.3839 7.17735 20.8482 8.71306L19.9213 9.63993M14.3601 4.07866C14.3601 4.07866 14.4759 6.04828 16.2138 7.78618C17.9517 9.52407 19.9213 9.63993 19.9213 9.63993M14.3601 4.07866L12 6.43872M19.9213 9.63993L14.6607 14.9006L11.5613 18L11.4001 18.1612C10.8229 18.7383 10.5344 19.0269 10.2162 19.2751C9.84082 19.5679 9.43469 19.8189 9.00498 20.0237C8.6407 20.1973 8.25352 20.3263 7.47918 20.5844L4.19792 21.6782M4.19792 21.6782L3.39584 21.9456C3.01478 22.0726 2.59466 21.9734 2.31063 21.6894C2.0266 21.4053 1.92743 20.9852 2.05445 20.6042L2.32181 19.8021M4.19792 21.6782L2.32181 19.8021M2.32181 19.8021L3.41556 16.5208C3.67368 15.7465 3.80273 15.3593 3.97634 14.995C4.18114 14.5653 4.43213 14.1592 4.7249 13.7838C4.97308 13.4656 5.26166 13.1771 5.83882 12.5999L8.5 9.93872"
                  stroke="#008080"
                  stroke-width="1.5"
                  stroke-linecap="round"
                ></path>
              </g>
            </svg>
          </td>
        </ng-container>

        <ng-container matColumnDef="remove">
          <th mat-header-cell *matHeaderCellDef>REMOVE</th>
          <td mat-cell *matCellDef="let element">
            <svg
              width="20px"
              height="20px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              (click)="openDialog(element.id)"
              type="button"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M14 10V17M10 10V17"
                  stroke="#008080"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="totalItemCount"
        [pageSizeOptions]="[5, 10, 20]"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex - 1"
        (page)="onPageChange($event)"
        showFirstLastButtons
        aria-label="Paginator for users"
      >
      </mat-paginator>
    </div>
  </div>
</ng-template>
