<mat-toolbar class="mat-elevation-z4">
  <mat-toolbar-row>
    <a mat-button routerLink="/">Hotel Management</a>

    <span class="spacer"></span>

    <a mat-button routerLink="/profile" *ngIf="this.username && this.role">{{
      username
    }}</a>
    <a
      mat-button
      routerLink="/hotel-management"
      *ngIf="this.role == 'Owner' || this.role == 'Manager'"
      >Hotel management</a
    >
    <a
      mat-button
      routerLink="/user-management"
      *ngIf="this.role == 'Owner' || this.role == 'Manager'"
      >User management</a
    >
    <a mat-button routerLink="/booking-management" *ngIf="this.role == 'Client'"
      >Bookings</a
    >
    <a mat-button routerLink="/auth/login" *ngIf="!this.username && !this.role"
      >Login</a
    >
    <a
      mat-button
      routerLink="/auth/login"
      (click)="logout()"
      *ngIf="this.username && this.role"
      >Logout</a
    >
  </mat-toolbar-row>
</mat-toolbar>
