:host {
  max-width: 60vh;
}

mat-form-field {
  min-width: 100%;
  margin-bottom: 2vh;
}

.button-container {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  gap: 2vh;
  justify-content: center;
}

button {
  flex: 1;
}
