<h1>Welcome to Hotel Management System, please login!</h1>

<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username" id="username" />
    <mat-error>{{ getUsernameErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" id="password" />
    <mat-error>{{ getPasswordErrorMessage() }}</mat-error>
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button>Login</button>
    <button mat-raised-button color="primary" routerLink="/auth/register">
      Register
    </button>
  </div>
</form>
