@import "~bootstrap/dist/css/bootstrap.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.back-button {
    font-size: 12px;
}

.toast-container {
    width: 100% !important;
}