@import "~bootstrap/dist/css/bootstrap.css";
@import "theme.scss";

html,
body {
  margin: 0;
  padding: 0;
}

.back-button {
  font-size: 12px;
  font-weight: lighter;
  color: grey;
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
