<ng-container *ngIf="!dataLoaded; else edituser">
  <mat-progress-spinner class="loading-spinner" mode="indeterminate" value="4">
  </mat-progress-spinner>
</ng-container>

<ng-template #edituser>
  <a class="back-button" routerLink="/user-management">Back</a>

  <app-page-header title="Edit user role"></app-page-header>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="edit-role-form">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" (disabled)="(true)" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <mat-select matInput formControlName="role" required>
        <mat-option [value]="2">Manager</mat-option>
        <mat-option [value]="1">Employee</mat-option>
      </mat-select>
      <mat-hint>Select the new role</mat-hint>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">
      Save changes
    </button>
  </form>
</ng-template>
